@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap');

body {
  margin: 0px;
  font-family: 'M PLUS RoundinToped 1c', sans-serif;
  min-width: 1490px;
}

.top-back {
  width: 100vw;
  height: 200vh;
  background-image: url(./images/orange_back.jpg);
  background-size: cover;
  background-position: center;
}

.marginTop14px {
  margin-top: 14px;
}

.marginTop30px {
  margin-top: 30px;
}

.marginTop80px {
  margin-top: 80px;
}

.marginTop100px {
  margin-top: 100px;
}

.marginTop116px {
  margin-top: 116px;
}

.marginTop160px {
  margin-top: 160px;
}

.marginTop164px {
  margin-top: 164px;
}

.leftSideBackGroundStyle {
  background-color: white;
  height: 421px;
  width: 200px;
  border-radius: 10px;
}

.topCenterElementBackStyle {
  background-color: white;
  width: 196px;
  height: 196px;
  border-radius: 10px;
  float: left;
  margin: 15px;
}

.topCenterElementBackStyle2 {
  animation: bg-color2 30s infinite;
  width: 196px;
  height: 196px;
  border-radius: 10px;
  float: left;
  margin: 15px;
}

.paddingLeft60px {
  padding-left: 60px;
}

.topCenterChildImageStyle {
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.topCenterChildImageStyle2 {
  width: 100px;
  height: 100px;
  border: 10px solid #28D9F0;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
}

.topCenterChildImageBorderStyle{
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-left: 40px;
  animation: bg-color 30s infinite;
  border-radius: 50%;
  object-fit: cover;
}

@keyframes bg-color {
  0% { background-color: #28D9F0; }
  20% { background-color: #ffd78e; }
  40% { background-color: #ff8800; }
  60% { background-color: #ff5353; }
  80% { background-color: #ff1919; }
  100% { background-color: #ff1900; }
}

@keyframes bg-color2 {
  0% { background-color: white; }
  39% { background-color: white; }
  40% { background-color: yellow; }
  79% { background-color: yellow; }
  80% { background-color: #ff1919; }
  100% { background-color: #ff1900; }
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.boldMore {
  font-weight: 900;
}

.topCenterSideChildNameStyle { 
  margin-top: 10px;
  color: black;
}

.topCenterSideChildNameStyle2 { 
  margin-top: -20px;
  font-size: 10px;
  color: black;
}

.text-light {
  font-weight: lighter;
}

.topAbsenceStyle {
  background-color: black;
  color: white;
  padding: 5px 25px;
  border-radius: 25px;
}

.fs20px {
  font-size: 20px;
}

.fs35px {
  font-size:35px;
}

.fs40px {
  font-size:40px;
}

.fs70px {
  font-size:70px;
}

.topRightAbsenceBorderBottom {
  border-bottom: 1px solid black;
}

.marginTop50px {
  margin-top: 50px;
}

.topLeftSideHeadLetter {
  position: relative;
  display: inline-block;
  padding: 0 35px;
  font-size: 20px;
}

h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: black;
}

h1:before {
  left:0;
}
h1:after {
  right: 0;
}

.topLeftSideWeatherImageStyle {
  width: 100px;
  margin-top: -20px;
  object-fit: cover;
}

.marginTopminus10px {
  margin-top: -10px;
}

.topLeftSideNowTimeStyle {
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 40px;
  padding: 5px 41px;
}

.headerLogoStyle {
  margin-top: 10px;
  width: 200px;
}

.marginTop110px {
  margin-top: 110px;
}

.ChildrenShowRightSideBackGroundStyle {
  background-color: white;
  border-radius: 10px;
  height: 646px;
}

.ChildrenShowPercentStyle {
  border-radius: 50%;
  border: 8px solid red;
  height: 130px;
  width: 143px;
  padding-top: 24px;
  padding-left: 4px;
  text-align:center;
  margin-left: 40px;
  color: red;
}

.ChildrenShowPercentStyle2 {
  border-radius: 50%;
  animation: bg-color 30s infinite;
  height: 130px;
  width: 143px;
  padding-top: 24px;
  padding-left: 4px;
  text-align:center;
  margin-left: 40px;
  color: #28D9F0;
}

.childrenShowChildNameStyle {
  margin-top: -50px;
}

.childrenShowChildNameStyle2 {
  margin-top: -26px;
  font-weight: 100;
}

.childrenShowChildImageStyle {
  height: 143px;
  width: 143px;
  border: 5px solid rgb(226, 226, 226);
  border-radius: 50%;
  object-fit: cover;
}

.childrenShowKcalStyle {
  font-size: 20px;
  background-color: #83C044;
  padding: 10px 0px;
  width: 85%;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-left: 40px;
  margin-top: 60px;
}

.childrenShowBpmStyle {
  font-size: 20px;
  background-color: red;
  padding: 10px 0px;
  width: 85%;
  border-radius: 15px;
  color: white;
  text-align: center;
  margin-left: 40px;
  margin-top: 60px;
}